body { font-size: 1.1em; color: #444; }

.container.narrow {
	max-width: 700px;
	margin: 10px auto;
}

.error {
	width: 400px;
	margin: 10px auto;
}

.red { color: red; }

h1 a, h1 a:hover, h1 a:visited { color: #444; }

p.description {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 25px 8px 25px 75px;
	margin: 20px 0;
	position: relative;
}

p.description:before {
	content: 'About';
	font-weight: bold;
	display: block;
	position: absolute;
	left: 0;
	top: 40%;
}

p.week-description {
	font-size: .9em;
	padding: 15px 5px;
	font-style: italic;
}

h3 { margin-top: 100px; position: relative; }
h3:first-child { margin-top: 50px; }
h3.break:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgb(255,225,225);
	margin-bottom: -20px;
}
h3.break span { background-color: white; padding-right: 10px; }

table + h4 { margin-top: 50px; }

#form {	margin-top: 40px; }

.input, #button_container { margin-top: 20px; }
.input label { font-size: 1.2em; }

select, input { width: 100%; }
input { padding: 10px 0; }
select { height: 40px; font-size: 1.1em; }

table { width: 100%; }

table thead th { color: white; text-align: right; padding: 8px; }
table thead th:first-child {
	text-align: left;
	border-top-left-radius: 5px;
}
table thead th:last-child { border-top-right-radius: 5px; }

table thead tr:first-child { background-color: red; }

table tbody tr:nth-child(even), table tbody td[rowspan] { background-color: rgb(255,235,235); }

table tbody tr { border-top: 1px solid rgb(255,200,200); }
table tbody tr:first-child { border-top: 0px; }

table tbody tr:last-child td:first-child { border-bottom-left-radius: 5px; }
table tbody tr:last-child td:last-child { border-bottom-right-radius: 5px; }

table tbody td { 
	padding: 8px;
	vertical-align: middle;
	text-align: right;
}
table tbody td:first-child { text-align: left; }
table tbody td:last-child { color: #c3c3c3; font-style: italic; }
table tbody td.group-instructions { text-align: center; background-color: white; }
table tbody td.group-instructions span{
	font-style: italic;
	padding: 5px 20px;
	background-color: red;
	border-radius: 4px;
	color: white;
}

table tbody td[rowspan] {
	vertical-align: middle;
	text-align: center;
	color: #444;
	font-style: normal;
}

#footer {
	width: 300px;
	margin: 50px auto;
	text-align: center;
	font-size: 1.8em;
	padding: 20px;
}

#footer.home {
	font-size: .9em;
}