<div id="footer" class="home">
  <p>Currently in <strong>BETA.</strong></p>
  <p>Feedback or requests? <a href="mailto:admin@liftwhat.com">Email me!</a></p>
  <p>Got a sec? Please take 
    <a target="_blank" href="https://docs.google.com/forms/d/1TsGAvQcVRDdW7Zw97xDXRhVkesLm7SNvVURj9t2ULrU/viewform">this survey</a>.
    It is just <strong>two</strong> questions.
  </p>
  <p class="updates">2013.11.05: Survey time!</p>
</div>